#videoComponent {
    display: flex;
    height: 100%;
    width: 100%;

    .videoPlayer {
        height: 100vh;
    }

    ::ng-deep div[hidden] {
        display: none;
    }

    ::ng-deep .swiper-slide {
        width: 100vw;
        overflow: hidden;
    }

    .stats-bar {
        position: absolute;
        width: 48px;
        height: 100px;
        right: 10px;
        bottom: 70px;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        color: white;

        .stat-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            fa-icon {
                font-size: 25px;
            }
        }
    }
}
